box-slide{
    width: 100%;
    height: 70rem;
    overflow: hidden;
    cursor: default;
    display: flex;
    background-color: #000;
    transition: height .5s;
}

box-slide ul{
    position: absolute;
    bottom: 10rem;
    display: inline;
    list-style: none;
    z-index: 5;
}

box-slide ul li{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    transition: background-color .5s;
}

@media screen and (max-width: 1000px){
    box-slide{
        height: 50rem;
        justify-content: center;
    }

    box-slide ul{
        width: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        left: 0;
        bottom: 3rem;
    }

    box-slide ul li{
        width: 1.5rem;
        height: 1.5rem;
    }
}