elmnt-header{
    width: 100%;
    height: 6rem;
    padding: 0 10rem;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    transition: top .5s;
}

elmnt-header a{
    width: 16rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    font-family: "Eras ITC";
    text-decoration: none;
}

elmnt-header a img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

elmnt-header ul{
    display: inline-block;
}

elmnt-header ul li{
    margin-left: 2rem;
    list-style: none;
    float: left;
    font-size: 2rem;
    cursor: pointer;
}

elmnt-header ul li:nth-child(1){
    color: #00F4B2;
}

elmnt-header ul li:hover{
    color: #00F4B2;
}

@media screen and (max-width: 1000px){
    elmnt-header{
        height: 5rem;
        padding: 0 2rem;
        top: 1.5rem;
    }

    elmnt-header a{
        width: 10rem;
        font-size: 1.8rem;
    }

    elmnt-header a img{
        width: 3rem;
        height: 3rem;
    }

    elmnt-header ul li{
        font-size: 1.7rem;
    }
}