search-bar{
    width: 40rem;
    height: 4rem;
    display: flex;
    box-sizing: border-box;
}

search-bar input{
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    border: .2rem solid #000;
    border-right: 0;
    border-radius: 1rem 0 0 1rem;
    font-size: 2rem;
    outline: none;
}

search-bar input:focus{
    border-color: #009970;
}

search-bar input:focus + button{
    border-color: #009970;
    background-color: #009970;
}

search-bar input:focus + button:hover{
    background-color: #000;
}

search-bar button{
    width: 15%;
    height: 100%;
    margin: 0;
    border: .2rem solid #000;
    border-left: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    outline: none;
}

search-bar button img{
    width: 2rem;
    height: 2rem;
}

search-bar button:hover{
    background-color: #009970;
}

@media screen and (max-width: 480px){
    search-bar{
        width: 30rem;
    }

    search-bar input{
        width: 80%;
        font-size: 1.5rem;
    }

    search-bar button{
        width: 20%;
    }
}

@media screen and (max-width: 350px){
    search-bar{
        width: 25rem;
    }
}